@import "variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

a {
    color: $negro;
    height: 100%;
    text-decoration: none;

    &:hover {
        color: $negro;
        text-decoration: none;
    }
}

.logo {
    border-radius: 100%;
    position: relative;
    top: 30px;
    width: 100px;
    z-index: 1;
}

.navbar {
    height: 50px;
    position: relative;
    z-index: 2;

    .container-fluid {
        .menu-nav {
            ul {
                li {
                    font-weight: bold;
                    margin: 0 5px;
                    text-align: center;

                    &:hover {
                        background-color: $gris-claro;
                    }

                    &:hover .barra {
                        background-color: $amarillo;
                    }
                }
            }

            .boton {
                .btn_contacto {
                    background-color: $amarillo;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0 3px 6px $amarillo-opc;
                    color: $blanco;
                    height: 30px;
                    padding: 0 20px;
                    transition: all .5s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.opacity {
    background-color: rgba(0, 0, 0, 0.627);
    position: absolute;
    top: 50px;
    z-index: 1;
    @include sizes (100vh, 100%);

    h1 {
        color: white;
        font-size: $ft80;
        text-align: center;
    }

    q {
        @extend h1;
        font-size: $ft24;
    }
}

.barra {
    background-color: #73221A;
    height: 3px;
    width: 120px;
    &.barra-nav {
        width: 180px;
    }
}

footer {
    background-color: $marron;
    bottom: 0;
    color: $blanco;
    padding: 15px 0 10px;
    width: 100%;

    #footer {

        ul {
            padding: 0;
        }

        .footer-logo {
            @extend .footer-nav;
            justify-content: center;

            img {
                border-radius: 100%;
                width: 140px;
            }
        }

        .footer-nav {
            align-items: center;
            display: flex;

            li {
                list-style: none;
            }
        }

        .footer-carta {
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
                list-style: none;
            }
        }

        .footer-contacto {

            li {
                list-style: none;
                margin-bottom: 10px;
            }

            .redes {
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                img,
                em {
                    height: 14px;
                }

                em {
                    color: $amarillo;
                }
            }
        }

        .footer-logo,
        .footer-nav,
        .footer-carta {
            @media (max-width: 767px) {
                display: flex;
                justify-content: center;
            }
        }

        a {
            color: $blanco;

            &:hover {
                color: $amarillo;
            }
        }
    }

    p {
        color: $gris;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .navbar {
        padding: 0;

        .container-fluid {
            height: 50px;

            .logo {
                top: 0;
            }

            .menu-nav {
                background-color: $blanco;
                padding: 10px 0;

                ul {
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .boton {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .opacity {
        h1 {
            font-size: $ft40;
        }
        q {
            font-size: $ft20;
        }
    }
}