@import "variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

a {
    color: $negro;
    height: 100%;
    text-decoration: none;

    &:hover {
        color: $negro;
        text-decoration: none;
    }
}

.logo {
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 100px;
    z-index: 1;
}

.navbar {
    padding: 0 10px;
    top: 0;
    width: 100vw;

    .container-fluid {
        .navbar-brand {
            width: 100px;
        }

        .offcanvas {
            &.offcanvas-end {
                @include sizes (100vh, 260px)
            }
            .navbar-item {
                align-items: center;
                display: flex;
                flex-direction: column;
                font-weight: bold;
                justify-content: center;
                list-style: none;
                margin: 0 15px;
                text-align: center;
                @include sizes (100%, 180px);

                &:hover {
                    background-color: #F2F2F2;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    .barra {
                        background-color: $amarillo;
                    }
                }

                .barra {
                    background-color: $marron;
                    @include sizes (3px, 180px);
                }
            }

            .boton {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 100px;

                .btn_contacto {
                    background-color: $amarillo;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    color: $blanco;
                    cursor: pointer;
                    font-weight: bold;
                    @include sizes (30px, 150px);

                    &:hover {
                        transform: scale(1.1);
                        transition: 200ms;
                    }
                }
            }
        }

    }
}

footer {
    background-color: $marron;
    bottom: 0;
    color: $blanco;
    padding: 15px 0 10px;
    width: 100%;

    #footer {

        ul {
            padding: 0;
        }

        .footer-logo {
            @extend .footer-nav;
            justify-content: center;

            img {
                border-radius: 100%;
                width: 140px;
            }
        }

        .footer-nav {
            align-items: center;
            display: flex;

            li {
                list-style: none;
            }
        }

        .footer-carta {
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
                list-style: none;
            }
        }

        .footer-contacto {

            li {
                list-style: none;
                margin-bottom: 10px;
            }

            .redes {
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                img,
                em {
                    height: 14px;
                }

                em {
                    color: $amarillo;
                }
            }
        }

        .footer-logo,
        .footer-nav,
        .footer-carta {
            @media (max-width: 767px) {
                display: flex;
                justify-content: center;
            }
        }

        a {
            color: $blanco;

            &:hover {
                color: $amarillo;
            }
        }
    }

    p {
        color: $gris;
        text-align: center;
    }
}