@import "variables";

.hist-banner {
    img {
        object-fit: cover;
        object-position: center 100%;
        @include sizes (100vh, 100%);
    }
}

#historia {
    article {
        padding: 20px 0;
        img {
            border-radius: 10px;
            box-shadow: 0 3px 6px #00000029;
            max-width: 300px;
            max-height: 200px;
        }
        .img-1,
        .img-3 {
            float: left;
            margin-right: 15px;
        }
        .img-2,
        .img-4 {
            float: right;
            margin-left: 15px;
        }
        .img-5 {
            max-height: 700px;
            max-width: 700px;

        }
        p {
            font-size: $ft17;
            text-align: justify;
            a {
                font-weight: bold;
            }
        }
    }
    .part-2 {
        background-color: $gris-sec;
    }
    @media (max-width: 768px) {
        .img-5 {
            width: 90%;
        }
    }
}