@import "variables";

.banner {
    position: relative;
    z-index: 1;

    .opacity {
        top: 0;
    }

    .carousel {
        height: 100vh;

        img {
            object-fit: cover;
            @include sizes (100vh, 100%);
        }
    }
}

/* Recomendados */

#recomendados {
    margin-bottom: 40px;
    margin-top: 40px;

    .rec_titulo {
        align-items: center;
        display: flex;
        justify-content: center;

        .barra {
            margin: 0 20px;
        }
    }

    .container {
        .card {
            border-radius: 20px;
            cursor: pointer;
            margin: 15px;
            overflow: hidden;
            position: relative;
            @include sizes (250px, 250px);

            &:hover {
                .card-content {
                    transform: translateY(0);

                    .card-description {
                        opacity: 1;
                        transition-delay: .25s;
                    }
                }
            }

            $fotos: (
                1: solomo,
                2: cazuela,
                3: picada
            );

            @each $num, $foto in $fotos {
                &.rec#{$num} {
                    background: url(../assets/img/#{$foto}.jpg) center no-repeat;
                    background-size: cover;
                }
            }

            .card-content {
                background-color: $blanco;
                border-top-left-radius: 20px;
                bottom: 0;
                left: 0;
                padding: 20px;
                position: absolute;
                transform: translateY(90px);
                transition: transform .25s;
                width: 100%;

                &::before {
                    border-radius: 30%;
                    box-shadow: inset 48px 48px $blanco;
                    content: "";
                    position: absolute;
                    right: -45px;
                    transform: rotate(-175deg);
                    top: -24px;
                    @include sizes (76px, 84px);
                }

                .card-title {
                    color: #6a515e;
                    font-size: $ft23;
                    line-height: 15px;
                }

                .card-subtitle {
                    display: block;
                    font-size: $ft12;
                    margin-bottom: 10px;
                }

                .card-description {
                    font-size: $ft14;
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
        }
    }
}