// Colores

$marron: #73221A;
$amarillo: #D9AE5F;
$amarillo-opc: #d9ae5f56;
$blanco: #fff;
$gris: #999999;
$gris-claro: #F2F2F2;
$negro: #000;

// Mixins 
@mixin sizes ($height, $width) {
    height: $height;
    width: $width;
}

// Tamaño fuente
$ft8: 0.5rem;
$ft9: 0.5625rem;
$ft10: 0.625rem;
$ft11: 0.6875rem;
$ft12: 0.75rem;
$ft13: 0.8125rem;
$ft14: 0.875rem;
$ft15: 0.9375rem;
$ft16: 1rem;
$ft17: 1.063rem;
$ft18: 1.125rem;
$ft19: 1.188rem;
$ft20: 1.25rem;
$ft22: 1.375rem;
$ft23: 1.438rem;
$ft24: 1.5rem;
$ft25: 1.5625rem;
$ft26: 1.625rem;
$ft28: 1.75rem;
$ft30: 1.875rem;
$ft32: 2rem;
$ft34: 2.125rem;
$ft36: 2.25rem;
$ft38: 2.375rem;
$ft40: 2.5rem;
$ft80: 5rem