* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

a {
  color: #000;
  height: 100%;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.logo {
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100px;
  z-index: 1;
}

.navbar {
  padding: 0 10px;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.navbar .container-fluid .navbar-brand {
  width: 100px;
}

.navbar .container-fluid .navbar-collapse .navbar-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0 15px;
  text-align: center;
  width: 180px;
}

.navbar .container-fluid .navbar-collapse .navbar-item:hover {
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar .container-fluid .navbar-collapse .navbar-item:hover .barra {
  background-color: #D9AE5F;
}

.navbar .container-fluid .navbar-collapse .navbar-item .barra {
  background-color: #73221A;
  height: 3px;
  width: 180px;
}

.navbar .container-fluid .navbar-collapse .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container-fluid .navbar-collapse .boton .btn_contacto {
  background-color: #D9AE5F;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  width: 150px;
}

.navbar .container-fluid .navbar-collapse .boton .btn_contacto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer {
  background-color: #73221A;
  bottom: 0;
  color: #fff;
  padding: 15px 0 10px;
  width: 100%;
}

footer #footer ul {
  padding: 0;
}

footer #footer .footer-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer .footer-logo img {
  border-radius: 100%;
  width: 140px;
}

footer #footer .footer-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer .footer-nav li {
  list-style: none;
}

footer #footer .footer-carta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer .footer-carta li {
  list-style: none;
}

footer #footer .footer-contacto li {
  list-style: none;
  margin-bottom: 10px;
}

footer #footer .footer-contacto .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

footer #footer .footer-contacto .redes img,
footer #footer .footer-contacto .redes em {
  height: 14px;
}

footer #footer .footer-contacto .redes em {
  color: #D9AE5F;
}

@media (max-width: 767px) {
  footer #footer .footer-logo,
  footer #footer .footer-nav,
  footer #footer .footer-carta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer #footer a {
  color: #fff;
}

footer #footer a:hover {
  color: #D9AE5F;
}

footer p {
  color: #999999;
  text-align: center;
}

.banner {
  position: relative;
}

.banner .opacity {
  background-color: rgba(0, 0, 0, 0.627);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.banner .opacity h1 {
  color: white;
  font-size: 5 5rem;
  text-align: center;
}

.banner .opacity q {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.banner .carousel {
  height: 100vh;
}

.banner .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
}

/* Recomendados */
#recomendados {
  margin-bottom: 40px;
  margin-top: 40px;
}

#recomendados .rec_titulo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#recomendados .rec_titulo .barra {
  margin: 0 20px;
}

#recomendados .container .card {
  border-radius: 20px;
  cursor: pointer;
  height: 250px;
  margin: 15px;
  overflow: hidden;
  position: relative;
  width: 250px;
}

#recomendados .container .card:hover .card-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#recomendados .container .card:hover .card-content .card-description {
  opacity: 1;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#recomendados .container .card.rec1 {
  background: url(../assets/img/carnes.jpg) center no-repeat;
  background-size: cover;
}

#recomendados .container .card.rec2 {
  background: url(../assets/img/cazuela.jpg) center no-repeat;
  background-size: cover;
}

#recomendados .container .card.rec3 {
  background: url(../assets/img/picada.jpg) center no-repeat;
  background-size: cover;
}

#recomendados .container .card .card-content {
  background-color: #fff;
  border-top-left-radius: 20px;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  width: 100%;
}

#recomendados .container .card .card-content::before {
  border-radius: 30%;
  -webkit-box-shadow: inset 48px 48px #fff;
          box-shadow: inset 48px 48px #fff;
  content: "";
  height: 76px;
  position: absolute;
  right: -45px;
  -webkit-transform: rotate(-175deg);
          transform: rotate(-175deg);
  top: -24px;
  width: 84px;
}

#recomendados .container .card .card-content .card-title {
  color: #6a515e;
  font-size: 1.438rem;
  line-height: 15px;
}

#recomendados .container .card .card-content .card-subtitle {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

#recomendados .container .card .card-content .card-description {
  font-size: 0.875rem;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#header .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EEEEEE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

#header .map .map_rest {
  border: none;
  height: 70vh;
  width: 90%;
}

.contacto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

.contacto .contact {
  position: relative;
  bottom: 110px;
  width: 40%;
}

.contacto .contact fieldset {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contact fieldset legend {
  color: #73221A;
  text-align: center;
}

.contacto .contact fieldset input {
  height: 35px;
}

.contacto .contact fieldset .contact_input,
.contacto .contact fieldset textarea {
  border: 2px dashed #e0e0e0;
  margin-bottom: 10px;
  width: 80%;
}

.contacto .contact fieldset .btn {
  margin: 10px 0;
}

.contacto .contact fieldset .check {
  display: block;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.contacto .contact fieldset .check input {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.contacto .contact fieldset .check input:checked ~ .checkbox {
  border-color: #D9AE5F;
  border-left-color: transparent;
  border-radius: 0;
  border-top-color: transparent;
  margin-left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 13px;
}

.contacto .contact fieldset .check .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #E0E0E0;
  border-radius: 6px;
  -webkit-transition: all 0.375s;
  transition: all 0.375s;
}

.contacto .img {
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
}

.contacto .img .contact_logo {
  border-radius: 100%;
  width: 90px;
}

@media (max-width: 767px) {
  .footer-nav,
  .footer-carta,
  .footer-contacto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

/* clase */
.ejemplos-1 {
  width: 400px;
  height: 400px;
}

.ejemplos-2 {
  width: 800px;
  height: 800px;
}

.ejemplos-3 {
  width: 1200px;
  height: 1200px;
}

/* mapas */
.btn--twitter {
  background-color: #55ACEE;
}

.btn--facebook {
  background-color: #3A5795;
}

.btn--instagram {
  background-color: #C25E30;
}
/*# sourceMappingURL=styles.css.map */