@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

a {
  color: #000;
  height: 100%;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.logo {
  border-radius: 100%;
  position: relative;
  top: 30px;
  width: 100px;
  z-index: 1;
}

.navbar {
  height: 50px;
  position: relative;
  z-index: 2;
}

.navbar .container-fluid .menu-nav ul li {
  font-weight: bold;
  margin: 0 5px;
  text-align: center;
}

.navbar .container-fluid .menu-nav ul li:hover {
  background-color: #F2F2F2;
}

.navbar .container-fluid .menu-nav ul li:hover .barra {
  background-color: #D9AE5F;
}

.navbar .container-fluid .menu-nav .boton .btn_contacto {
  background-color: #D9AE5F;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px #d9ae5f56;
          box-shadow: 0 3px 6px #d9ae5f56;
  color: #fff;
  height: 30px;
  padding: 0 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .container-fluid .menu-nav .boton .btn_contacto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.opacity {
  background-color: rgba(0, 0, 0, 0.627);
  position: absolute;
  top: 50px;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.opacity h1, .opacity q {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.opacity q {
  font-size: 1.5rem;
}

.barra {
  background-color: #73221A;
  height: 3px;
  width: 120px;
}

.barra.barra-nav {
  width: 180px;
}

footer {
  background-color: #73221A;
  bottom: 0;
  color: #fff;
  padding: 15px 0 10px;
  width: 100%;
}

footer #footer ul {
  padding: 0;
}

footer #footer .footer-logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer .footer-logo img {
  border-radius: 100%;
  width: 140px;
}

footer #footer .footer-nav, footer #footer .footer-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer .footer-nav li, footer #footer .footer-logo li {
  list-style: none;
}

footer #footer .footer-carta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer .footer-carta li {
  list-style: none;
}

footer #footer .footer-contacto li {
  list-style: none;
  margin-bottom: 10px;
}

footer #footer .footer-contacto .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

footer #footer .footer-contacto .redes img,
footer #footer .footer-contacto .redes em {
  height: 14px;
}

footer #footer .footer-contacto .redes em {
  color: #D9AE5F;
}

@media (max-width: 767px) {
  footer #footer .footer-logo, footer #footer .footer-nav, footer #footer .footer-logo,
  footer #footer .footer-carta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer #footer a {
  color: #fff;
}

footer #footer a:hover {
  color: #D9AE5F;
}

footer p {
  color: #999999;
  text-align: center;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .container-fluid {
    height: 50px;
  }
  .navbar .container-fluid .logo {
    top: 0;
  }
  .navbar .container-fluid .menu-nav {
    background-color: #fff;
    padding: 10px 0;
  }
  .navbar .container-fluid .menu-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .container-fluid .menu-nav .boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.banner {
  position: relative;
  z-index: 1;
}

.banner .opacity {
  top: 0;
}

.banner .carousel {
  height: 100vh;
}

.banner .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
}

/* Recomendados */
#recomendados {
  margin-bottom: 40px;
  margin-top: 40px;
}

#recomendados .rec_titulo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#recomendados .rec_titulo .barra {
  margin: 0 20px;
}

#recomendados .container .card {
  border-radius: 20px;
  cursor: pointer;
  margin: 15px;
  overflow: hidden;
  position: relative;
  height: 250px;
  width: 250px;
}

#recomendados .container .card:hover .card-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#recomendados .container .card:hover .card-content .card-description {
  opacity: 1;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#recomendados .container .card.rec1 {
  background: url(../assets/img/solomo.jpg) center no-repeat;
  background-size: cover;
}

#recomendados .container .card.rec2 {
  background: url(../assets/img/cazuela.jpg) center no-repeat;
  background-size: cover;
}

#recomendados .container .card.rec3 {
  background: url(../assets/img/picada.jpg) center no-repeat;
  background-size: cover;
}

#recomendados .container .card .card-content {
  background-color: #fff;
  border-top-left-radius: 20px;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  width: 100%;
}

#recomendados .container .card .card-content::before {
  border-radius: 30%;
  -webkit-box-shadow: inset 48px 48px #fff;
          box-shadow: inset 48px 48px #fff;
  content: "";
  position: absolute;
  right: -45px;
  -webkit-transform: rotate(-175deg);
          transform: rotate(-175deg);
  top: -24px;
  height: 76px;
  width: 84px;
}

#recomendados .container .card .card-content .card-title {
  color: #6a515e;
  font-size: 1.438rem;
  line-height: 15px;
}

#recomendados .container .card .card-content .card-subtitle {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

#recomendados .container .card .card-content .card-description {
  font-size: 0.875rem;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#carta .carta_titulo {
  margin-top: 40px;
}

#carta .carta_titulo h1, #carta .carta_titulo .opacity q, .opacity #carta .carta_titulo q {
  margin: 0 20px;
  text-align: center;
}

#carta .tipicos .titulo,
#carta .asados .titulo {
  width: 120px;
}

#carta .tipicos .titulo .barra,
#carta .asados .titulo .barra {
  width: 100%;
}

#carta .tipicos .plato,
#carta .asados .plato {
  margin: 20px 0 40px;
}

#carta .tipicos .plato .img-principal,
#carta .asados .plato .img-principal {
  height: 400px;
  margin-right: 10px;
  width: 50%;
}

#carta .tipicos .plato .img-principal img,
#carta .asados .plato .img-principal img {
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#carta .tipicos .plato .aux,
#carta .asados .plato .aux {
  height: 400px;
  padding: 20px 30px 0;
  width: 50%;
}

#carta .tipicos .plato .aux .description h3,
#carta .asados .plato .aux .description h3 {
  text-align: center;
}

#carta .tipicos .plato .aux .description p,
#carta .asados .plato .aux .description p {
  text-align: justify;
}

#carta .tipicos .plato .aux .description h4,
#carta .asados .plato .aux .description h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carta .tipicos .plato .aux .otros-productos .sancocho,
#carta .asados .plato .aux .otros-productos .sancocho {
  background: url(../assets/img/sancocho.jpg) center no-repeat;
}

#carta .tipicos .plato .aux .otros-productos .cazuela,
#carta .asados .plato .aux .otros-productos .cazuela {
  background: url(../assets/img/cazuela.jpg) center no-repeat;
}

#carta .tipicos .plato .aux .otros-productos .mondongo,
#carta .asados .plato .aux .otros-productos .mondongo {
  background: url(../assets/img/mondongo.jpg) center no-repeat;
}

#carta .tipicos .plato .aux .otros-productos .solomo,
#carta .asados .plato .aux .otros-productos .solomo {
  background: url(../assets/img/solomo.jpg) center no-repeat;
}

#carta .tipicos .plato .aux .otros-productos .cañon,
#carta .asados .plato .aux .otros-productos .cañon {
  background: url(../assets/img/cañon.jpg) center no-repeat;
}

#carta .tipicos .plato .aux .otros-productos .pechuga,
#carta .asados .plato .aux .otros-productos .pechuga {
  background: url(../assets/img/pechuga.jpg) center no-repeat;
}

#carta .tipicos .plato .aux .otros-productos .card,
#carta .asados .plato .aux .otros-productos .card {
  background-size: cover;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 200px;
  z-index: 1;
}

#carta .tipicos .plato .aux .otros-productos .card::before, #carta .tipicos .plato .aux .otros-productos .card::after,
#carta .asados .plato .aux .otros-productos .card::before,
#carta .asados .plato .aux .otros-productos .card::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  -webkit-transition: -webkit-transform .5s .25s ease-in;
  transition: -webkit-transform .5s .25s ease-in;
  transition: transform .5s .25s ease-in;
  transition: transform .5s .25s ease-in, -webkit-transform .5s .25s ease-in;
  z-index: -1;
}

#carta .tipicos .plato .aux .otros-productos .card::before,
#carta .asados .plato .aux .otros-productos .card::before {
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#carta .tipicos .plato .aux .otros-productos .card::after,
#carta .asados .plato .aux .otros-productos .card::after {
  bottom: 0;
  -webkit-clip-path: polygon(0 55%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 55%, 100% 0, 100% 100%, 0 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#carta .tipicos .plato .aux .otros-productos .card:hover::before, #carta .tipicos .plato .aux .otros-productos .card:hover::after,
#carta .asados .plato .aux .otros-productos .card:hover::before,
#carta .asados .plato .aux .otros-productos .card:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#carta .tipicos .plato .aux .otros-productos .card:hover .card-content,
#carta .asados .plato .aux .otros-productos .card:hover .card-content {
  opacity: 1;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

#carta .tipicos .plato .aux .otros-productos .card .card-content,
#carta .asados .plato .aux .otros-productos .card .card-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  padding: 0 20px;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

#carta .tipicos .plato .aux .otros-productos .card .card-content .card-title,
#carta .asados .plato .aux .otros-productos .card .card-content .card-title {
  font-size: 1.125rem;
  text-align: center;
}

#carta .tipicos .plato .aux .otros-productos .card .card-content .card-description,
#carta .asados .plato .aux .otros-productos .card .card-content .card-description {
  font-size: 0.8125rem;
  text-align: center;
}

#carta .asados {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#carta .asados .plato {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  #carta .tipicos .plato,
  #carta .asados .plato {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #carta .tipicos .plato .img-principal,
  #carta .asados .plato .img-principal {
    width: 100% !important;
  }
  #carta .tipicos .plato .aux,
  #carta .asados .plato .aux {
    height: auto;
    width: 100%;
  }
  #carta .tipicos .plato .aux .otros-productos,
  #carta .asados .plato .aux .otros-productos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

#header .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EEEEEE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

#header .map .map_rest {
  border: none;
  height: 70vh;
  width: 90%;
}

.contacto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

.contacto .contact {
  position: relative;
  bottom: 110px;
  width: 40%;
}

.contacto .contact fieldset {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contact fieldset h1, .contacto .contact fieldset .opacity q, .opacity .contacto .contact fieldset q {
  color: #73221A;
  font-size: 1.5625rem;
  text-align: center;
}

.contacto .contact fieldset input {
  height: 35px;
}

.contacto .contact fieldset .contact_input,
.contacto .contact fieldset textarea {
  border: 2px dashed #e0e0e0;
  margin-bottom: 10px;
  width: 80%;
}

.contacto .contact fieldset .btn {
  margin: 10px 0;
}

.contacto .contact fieldset .check {
  display: block;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.contacto .contact fieldset .check input {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.contacto .contact fieldset .check input:checked ~ .checkbox {
  border-color: #D9AE5F;
  border-left-color: transparent;
  border-radius: 0;
  border-top-color: transparent;
  margin-left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 13px;
}

.contacto .contact fieldset .check .checkbox {
  display: block;
  border: 2px solid #E0E0E0;
  border-radius: 6px;
  -webkit-transition: all 0.375s;
  transition: all 0.375s;
  height: inherit;
  width: inherit;
}

.contacto .img {
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
}

.contacto .img .contact_logo {
  border-radius: 100%;
  width: 90px;
}

@media (max-width: 767px) {
  .contacto .contact {
    width: 70%;
  }
  .contacto .img {
    display: none;
  }
  .footer-nav, footer #footer .footer-logo,
  .footer-carta,
  .footer-contacto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .contacto .contact {
    margin: 30px auto;
    position: initial;
    width: 90%;
  }
}

#experiencia .exp_titulo {
  margin-top: 40px;
}

#experiencia .exp_titulo h1, #experiencia .exp_titulo .opacity q, .opacity #experiencia .exp_titulo q {
  margin: 0 20px;
  text-align: center;
}

#experiencia .video iframe {
  border-radius: 10px;
}

#experiencia .feed .titulo .barra {
  width: 150px;
}

#experiencia .feed .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#experiencia .feed .contenedor img {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  margin: 10px auto;
  max-height: 280px;
  max-width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hist-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 100%;
     object-position: center 100%;
  height: 100vh;
  width: 100%;
}

#historia article {
  padding: 20px 0;
}

#historia article img {
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  max-width: 300px;
  max-height: 200px;
}

#historia article .img-1,
#historia article .img-3 {
  float: left;
  margin-right: 15px;
}

#historia article .img-2,
#historia article .img-4 {
  float: right;
  margin-left: 15px;
}

#historia article .img-5 {
  max-height: 700px;
  max-width: 700px;
}

#historia article p {
  font-size: 1.063rem;
  text-align: justify;
}

#historia article p a {
  font-weight: bold;
}

#historia .part-2 {
  background-color: #eeeeee;
}

@media (max-width: 768px) {
  #historia .img-5 {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */